

<div class="container-fluid p-5 card-wrapper"  style="width: 100%;height: 100%;
background: linear-gradient(240.42deg, #4A6FA4 0%, #192F50 101.4%);">
         <img class="position-absolute"  style="bottom: 0;left:-40px;"  src="assets/img/Ellipse.png" alt="">

<p-dialog [header]="'T.C. Sağlık Bakanlığı Gizlilik Sözleşmeleri Sistemi Aydınlarma Metni'" [visible]="true" class="aydinlat">

<p><strong>&nbsp;</strong></p>
<p><strong>Aydınlatma Metni</strong></p>
<p>Bu Aydınlatma Metni, 6698 sayılı Kişisel Verilerin Korunması Kanunu&rsquo;nun (&ldquo;KVK Kanunu&rdquo;) &ldquo;Veri Sorumlusunun Aydınlatma Y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml;&rdquo; kenar başlıklı 10&rsquo;uncu maddesi uyarınca ve KVK Kanunu kapsamında veri sorumlusu olan T.C. Sağlık Bakanlığı (Bakanlık) tarafından, UMKE TİM Mobil Uygulaması (Uygulama) kullanıcılarına, kullanıcılara ait kişisel veriler hususunda bilgilendirme yapmak amacıyla hazırlanmıştır. KVK Kanunu uyarınca veri sorumlusu sıfatını haiz Bakanlığın merkez adresi &ldquo;Bilkent Yerleşkesi, &Uuml;niversiteler Mah. Dumlupınar Bulvarı 6001. Cad. No:9 &Ccedil;ankaya/Ankara 06800&rdquo;dir.</p>
<p><strong>Veri Sorumlusunun Kimliği</strong></p>
<p>Bu Uygulama&rsquo;da işlenen kişisel verileriniz bakımından veri sorumlusu T.C. Sağlık Bakanlığı&rsquo;dır.</p>
<p><strong>Kişisel Verilerin İşlenme Ama&ccedil;ları</strong></p>
<p>Bu Uygulama&rsquo;da aşağıda yer alan kişisel verileriniz şu ama&ccedil;larla işlenebilmektedir.</p>
<ul>
<li><u>Kimlik verisi:</u>C. Kimlik Numarası, adı ve soyadı bilgileriniz kimliğinizin doğrulanması ve acil durum y&ouml;netimi s&uuml;re&ccedil;lerinin y&uuml;r&uuml;t&uuml;lmesi amacıyla işlenebilmektedir.</li>
<li><u>İletişim verisi:</u> Telefon ve adres bilgileriniz iş ve iletişim faaliyetlerinin y&uuml;r&uuml;t&uuml;lmesi ile acil durum y&ouml;netimi s&uuml;re&ccedil;lerinin y&uuml;r&uuml;t&uuml;lmesi amacıyla işlenebilmektedir.</li>
<li><u>Konum verisi:</u> Konum bilginiz acil durum y&ouml;netimi s&uuml;re&ccedil;lerinin y&uuml;r&uuml;t&uuml;lmesi amacıyla işlenebilmektedir.</li>
<li><u>Meslek verisi:</u> Meslek bilginiz acil durum y&ouml;netimi s&uuml;re&ccedil;lerinin y&uuml;r&uuml;t&uuml;lmesi amacıyla işlenebilmektedir.</li>
<li><u>İşlem g&uuml;venliği verisi:</u> IP adresi, kullanıcı adı ve doğrulama işlemleriyle ilgili bilgileriniz bilgi g&uuml;venliği ve acil durum y&ouml;netimi s&uuml;re&ccedil;lerinin y&uuml;r&uuml;t&uuml;lmesi amacıyla işlenebilmektedir.</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Kişisel Verilerin Aktarımı</strong></p>
<p>Uygulama&rsquo;da bulunan kişisel verileriniz KVK Kanunu&rsquo;nun 28&rsquo;inci maddesinin ilk fıkrasında yer alan muafiyet halleri saklı kalmak &uuml;zere, hi&ccedil;bir şekilde &uuml;&ccedil;&uuml;nc&uuml; taraflarla paylaşılmamaktadır.</p>
<p><strong>Kişisel Veri Toplamanın Y&ouml;ntemi ve Hukuki Sebebi</strong></p>
<p>Kişisel verileriniz tamamen otomatik yollarla (bu Uygulama aracılığı ile) elde edilmekte olup kişisel verilerinizin işlenmesinin hukuki dayanağı, KVK Kanunu&rsquo;nun 5&rsquo;inci maddesinin ikinci fıkrasının (a) bendi &ldquo;Kanunlarda a&ccedil;ık&ccedil;a &ouml;ng&ouml;r&uuml;lmesi&rdquo; ve (&ccedil;) bendi uyarınca &ldquo;Veri sorumlusunun hukuki y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml;n&uuml; yerine getirebilmesi i&ccedil;in zorunlu olması&rdquo; hukuki sebebine dayanarak işlenebilmektedir.</p>
<p><strong>İlgili Kişilerin Hakları ve Veri Sorumlusuna Başvuru</strong></p>
<p>Uygulama kullanıcıları KVK Kanunu&rsquo;nun 11&rsquo;inci maddesinde d&uuml;zenlenen haklarını, KVK Kanunu&rsquo;nun 13&rsquo;&uuml;nc&uuml; maddesi ve Veri Sorumlusuna Başvuru Usul ve Esasları Hakkında Tebliğ h&uuml;k&uuml;mleri &ccedil;er&ccedil;evesinde Bakanlığa başvurmak suretiyle kullanabilir.</p>
<p>KVK Kanunu&rsquo;nun 13&rsquo;&uuml;nc&uuml; maddesi uyarınca yapılacak yazılı başvurular "T.C. Sağlık Bakanlığı, &Uuml;niversiteler Mahallesi, 6001. Cadde, No:9, &Ccedil;ankaya, Ankara" adresine; Kayıtlı Elektronik Posta (KEP) ile yapılacak başvurular ise "sb@hs01.kep.tr" adresine iletilmelidir.</p>


<ng-template pTemplate="footer">
    <div style="display: flex; justify-content: center;">
    <button pButton pRipple type="button" style="height: 56px;background-color: 
rgba(39, 49, 66, 1); border-radius: 8px;" label="Aydınlatma Metni’ni okudum ve kabul ediyorum"  routerLink="/kullanici-listesi" class="p-mr-2 p-mb-2"></button>
</div>
</ng-template>

</p-dialog>
</div>
