<div class="history mt-4 mb-5 p-5">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><img src="assets/img/book.png" style="height: 316px;border-radius: 16px;" alt="">
    </ng-template>
    <ng-template carouselSlide><img src="assets/img/book.png" style="height: 316px;border-radius: 16px;" alt="">
    </ng-template>
    <ng-template carouselSlide><img src="assets/img/book.png" style="height: 316px;border-radius: 16px;" alt="">
    </ng-template>
    <ng-template carouselSlide><img src="assets/img/book.png" style="height: 316px;border-radius: 16px;" alt="">
    </ng-template>
    <ng-template carouselSlide><img src="assets/img/book.png" style="height: 316px;border-radius: 16px;" alt="">
    </ng-template>
    <ng-template carouselSlide><img src="assets/img/book.png" style="height: 316px;border-radius: 16px;" alt="">
    </ng-template>
    <ng-template carouselSlide><img src="assets/img/book.png" style="height: 316px;border-radius: 16px;" alt="">
    </ng-template>
    <ng-template carouselSlide><img src="assets/img/book.png" style="height: 316px;border-radius: 16px;" alt="">
    </ng-template>
  </owl-carousel-o>
</div>




