<div class="card-wrapper  layout-menu-light " *ngIf="forgotStep==1" [@fadeInOut]="isShown ? 'open':'close'">
    <div class=" col-lg-6 p-fluid login">
        <img class="mb-3" width="300px" src="assets/img/saglik-bakanligi-logo.png" alt="">
        <h5 style="margin-bottom: 20px;">Parolanızı mı unuttunuz?</h5>
        <div style="margin-bottom: 20px;">Lütfen sistemde kayıtlı <br>e-posta adresinizi giriniz. Parola sıfırlama bağlantısı kayıtlı e-posta adresinize gönderilecektir</div>
        <form [formGroup]="forgotPasswordForm" #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="field ">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon "><i class="pi pi-at"></i></span>
                    <span class="p-float-label">
                        <input pInputText type="text" id="mail" name="email" class="p-inputtext p-component p-element" formControlName="email" />
                        <label for="mail">E-posta Adresi</label>
                    </span>
                </div>
                <div *ngIf="email.invalid && (email.dirty || email.touched||form.submitted)" class="alert-required">
                    <div class="error-message" *ngIf="email.errors?.['required']">
                        E-posta adresi alanı boş geçilemez
                    </div>
                    <div class="error-message" *ngIf="email.errors?.['email']">
                        Lütfen doğru formatta e-posta adresi giriniz
                    </div>
                </div>
            </div>
            <button pbutton="" pripple="" type="submit" label="Danger" class="p-element p-ripple p-button-danger  p-button p-component">
                <span class="p-button-label">Gönder</span><span class="p-ink" style="height: 70px; width: 70px; top: -17px; left: 1px;"></span>
            </button>
        </form>
    </div>
    <div class="col-lg-6 d-none d-lg-block" style="height: 100%;">
        <img style="object-fit: cover;height: 100%;width: 100%;" src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" />
    </div>
</div>
<div class="card-wrapper" *ngIf="forgotStep==2" [@fadeInOut]="isShown ? 'open':'close'">
    <div class=" col-lg-6 p-fluid login">
        <img class="mb-3" src="assets/img/saglik-bakanligi-logo.png" style="width:300px" alt="">
        <h5 style="margin-bottom: 20px;">E-posta gönderildi</h5>
        <div style="margin-bottom: 20px;">Kayıtlı E-posta adresine parola sıfırlama link gönderildi<br><br> Linke tıklayarak parolanı göncelleyebilirsin</div>
        <button pbutton="" pripple="" type="submit" label="Danger" routerLink="/hesap/giris" class="p-element p-ripple p-button-danger  p-button p-component">
            <span class="p-button-label">Giris yap</span><span class="p-ink" style="height: 70px; width: 70px; top: -17px; left: 1px;"></span></button>
    </div>
    <div class="col-lg-6 d-none d-lg-block" style="height: 100%;">
        <img style="object-fit: cover;height: 100%;width: 100%;" src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" />
    </div>
</div>
<p-toast key="tst" [baseZIndex]="99999"></p-toast>