<div class="under-header">
    <div class="yayinlar">
        <div class="row yayin-row">
            <div class="col-sm-2 col-md-3 col-lg-4"></div>
            <div class="col-sm-8 col-md-6 col-lg-4 yayin">
                <div class="row gy-2 gx-2 ">
                    <div class="col-lg-3 col-sm-6 ">
                        <div class="categories active">
                        <i style="font-size:20px; margin-right: 7px;" class="pi pi-microsoft "></i>
                        <span>Kitaplar</span>
                    </div>
                    </div>
                    <div class=" col-lg-3 col-sm-6 ">

                        <div class="categories ">
                        <img src="assets/img/Books.png" alt="">
                        <span>Kitaplar</span>
                    </div>
                    </div>
                    <div class=" col-lg-3 col-sm-6 ">

                        <div class="categories ">
                        <img src="assets/img/BookOpenText.png" alt="">
                        <span>Dergiler</span>
                    </div>
                    </div>
                    <div class=" col-lg-3 col-sm-6 ">

                        <div class="categories ">

                        <img src="assets/img/Note.png" alt="">
                        <span>Makaleler</span>
                    </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-2 col-md-3 col-lg-4"></div>

        </div>

    </div>
</div>

<div class="main-content container">
    <div class="row gy-4 gx-4">

        <div class="col-lg-3 ">
            <div class="filter-area">
            <h5>Yayımlanma Tarihi</h5>
            <form class="row">
                <div class="filter-check">
                    <p-checkbox value="2023" inputId="ny"></p-checkbox>
                    <label for="ny">2023</label>
                </div>
                <div class="filter-check">
                    <p-checkbox value="2024" inputId="2024"></p-checkbox>
                    <label for="2024">2024</label>
                </div>
                <div class="filter-check">
                    <p-checkbox value="2025" inputId="2025"></p-checkbox>
                    <label for="2025">2025</label>
                </div>
                <div class="filter-check">
                    <p-checkbox value="2026" inputId="2026"></p-checkbox>
                    <label for="2026">2026</label>
                </div>
                <div class="filter-check">
                    <p-checkbox value="2027" inputId="2027"></p-checkbox>
                    <label for="2027">2027</label>
                </div>
                <div class="filter-check">
                    <p-checkbox value="2028" inputId="2028"></p-checkbox>
                    <label for="2028">2028</label>
                </div>
            </form>
            <hr>

            <h5>Dil</h5>
            <form class="row">
                <div class="filter-check">
                    <p-checkbox value="2023" inputId="ny"></p-checkbox>
                    <label for="ny">Türkçe</label>
                </div>
                <div class="filter-check">
                    <p-checkbox value="2024" inputId="2024"></p-checkbox>
                    <label for="2024">İngilizce</label>
                </div>
                <div class="filter-check">
                    <p-checkbox value="2025" inputId="2025"></p-checkbox>
                    <label for="2025">Arapça</label>
                </div>
                <div class="filter-check">
                    <p-checkbox value="2026" inputId="2026"></p-checkbox>
                    <label for="2026">Almanca</label>
                </div>
         
            </form>
            <hr>
            <h5>Yayımlayan</h5>
            <form class="row">
                <div class="filter-check">
                    <p-checkbox value="2023" inputId="ny"></p-checkbox>
                    <label for="ny">Sağlık Hizmetleri Genel Müdürlüğü</label>
                </div>
                <div class="filter-check">
                    <p-checkbox value="2024" inputId="2024"></p-checkbox>
                    <label for="2024">Refik Saydam Hıfzıssıhha Merkezi Başkanlığı</label>
                </div>
                <div class="filter-check">
                    <p-checkbox value="2025" inputId="2025"></p-checkbox>
                    <label for="2025">Sağlığın Geliştirilmesi Genel Müdürlüğü</label>
                </div>
                <div class="filter-check">
                    <p-checkbox value="2026" inputId="2026"></p-checkbox>
                    <label for="2026">Acil Sağlık Hizmetleri Genel Müdürlüğü</label>
                </div>
                <div class="filter-check">
                    <p-checkbox value="2027" inputId="2027"></p-checkbox>
                    <label for="2027">Türkiye Halk Sağlığı Kurumu</label>
                </div>
           
            </form>

        </div>
        </div>
        <div class="col-lg-9">
        
            <div class="book-card position-relative">
                <div  class="book-detail-color"></div>
                <div class="row gx-2 gy-4">
                    <div class="col-sm-2 text-center">
                        <img src="assets/img/book.png" style="width: 100%;height:100%;max-width:80px;max-height:112px;" alt="">
                    </div>
                    <div class="col-sm-10">
                        <h5>Sağlık İstatistikleri Yıllığı (İngilizce)</h5>
                        <p class="book-detail-info"> <span>#Kitap</span> | Ocak,2002 | Sağlık Hizmetleri Genel Müdürlüğü | İndirilme: 34</p>
                        <p class="book-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>

            <div class="book-card position-relative">
                <div  class="book-detail-color"></div>
                <div class="row gx-2 gy-4">
                    <div class="col-sm-2 text-center">
                        <img src="assets/img/book.png" style="width: 100%;height:100%;max-width:80px;max-height:112px;" alt="">
                    </div>
                    <div class="col-sm-10">
                        <h5>Sağlık İstatistikleri Yıllığı (İngilizce)</h5>
                        <p class="book-detail-info"> <span>#Kitap</span> | Ocak,2002 | Sağlık Hizmetleri Genel Müdürlüğü | İndirilme: 34</p>
                        <p class="book-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>

            <div class="book-card position-relative">
                <div  class="book-detail-color"></div>
                <div class="row gx-2 gy-4">
                    <div class="col-sm-2 text-center">
                        <img src="assets/img/book.png" style="width: 100%;height:100%;max-width:80px;max-height:112px;" alt="">
                    </div>
                    <div class="col-sm-10">
                        <h5>Sağlık İstatistikleri Yıllığı (İngilizce)</h5>
                        <p class="book-detail-info"> <span>#Kitap</span> | Ocak,2002 | Sağlık Hizmetleri Genel Müdürlüğü | İndirilme: 34</p>
                        <p class="book-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>

            <div class="book-card position-relative">
                <div  class="book-detail-color"></div>
                <div class="row gx-2 gy-4">
                    <div class="col-sm-2 text-center">
                        <img src="assets/img/book.png" style="width: 100%;height:100%;max-width:80px;max-height:112px;" alt="">
                    </div>
                    <div class="col-sm-10">
                        <h5>Sağlık İstatistikleri Yıllığı (İngilizce)</h5>
                        <p class="book-detail-info"> <span>#Kitap</span> | Ocak,2002 | Sağlık Hizmetleri Genel Müdürlüğü | İndirilme: 34</p>
                        <p class="book-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>

            <div class="book-card position-relative">
                <div  class="book-detail-color"></div>
                <div class="row gx-2 gy-4">
                    <div class="col-sm-2 text-center">
                        <img src="assets/img/book.png" style="width: 100%;height:100%;max-width:80px;max-height:112px;" alt="">
                    </div>
                    <div class="col-sm-10">
                        <h5>Sağlık İstatistikleri Yıllığı (İngilizce)</h5>
                        <p class="book-detail-info"> <span>#Kitap</span> | Ocak,2002 | Sağlık Hizmetleri Genel Müdürlüğü | İndirilme: 34</p>
                        <p class="book-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>

            <div class="book-card position-relative">
                <div  class="book-detail-color"></div>
                <div class="row gx-2 gy-4">
                    <div class="col-sm-2 text-center">
                        <img src="assets/img/book.png" style="width: 100%;height:100%;max-width:80px;max-height:112px;" alt="">
                    </div>
                    <div class="col-sm-10">
                        <h5>Sağlık İstatistikleri Yıllığı (İngilizce)</h5>
                        <p class="book-detail-info"> <span>#Kitap</span> | Ocak,2002 | Sağlık Hizmetleri Genel Müdürlüğü | İndirilme: 34</p>
                        <p class="book-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>

            <div class="book-card position-relative">
                <div  class="book-detail-color"></div>
                <div class="row gx-2 gy-4">
                    <div class="col-sm-2 text-center">
                        <img src="assets/img/book.png" style="width: 100%;height:100%;max-width:80px;max-height:112px;" alt="">
                    </div>
                    <div class="col-sm-10">
                        <h5>Sağlık İstatistikleri Yıllığı (İngilizce)</h5>
                        <p class="book-detail-info"> <span>#Kitap</span> | Ocak,2002 | Sağlık Hizmetleri Genel Müdürlüğü | İndirilme: 34</p>
                        <p class="book-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>

            <div class="book-card position-relative">
                <div  class="book-detail-color"></div>
                <div class="row gx-2 gy-4">
                    <div class="col-sm-2 text-center">
                        <img src="assets/img/book.png" style="width: 100%;height:100%;max-width:80px;max-height:112px;" alt="">
                    </div>
                    <div class="col-sm-10">
                        <h5>Sağlık İstatistikleri Yıllığı (İngilizce)</h5>
                        <p class="book-detail-info"> <span>#Kitap</span> | Ocak,2002 | Sağlık Hizmetleri Genel Müdürlüğü | İndirilme: 34</p>
                        <p class="book-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>