<p-dialog header="Sözleşme Ekle " class="personal-info" (onHide)="displayFalse()" [(visible)]="display">

    <div class="row mt-4 gy-4 gx-4">
      
            <div class="col-lg-3 col-md-6">
                <div class="row gx-0">
                    <div class="col-lg-5"><strong>Kullanıcı Adı:</strong></div>
                    <div class="col-lg-4">John Doe</div>
                </div>
            </div>
     
            
           
            
            <div class="col-lg-3 col-md-6">
                <div class="row gx-0">
                    <div class="col-lg-5"><strong>T.C. Kimlik No:</strong></div>
                    <div class="col-lg-4">12345678901</div>
                </div>
            </div>
        
            <div class="col-lg-3 col-md-6">
                <div class="row gx-0">
                    <div class="col-lg-5"><strong>Cinsiyet:</strong></div>
                    <div class="col-lg-4">Erkek</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="row gx-0">
                    <div class="col-lg-5"><strong>Doğum Tarihi:</strong></div>
                    <div class="col-lg-4">24.12.1995</div>
                </div>
            </div>
        
            
            
            
      
        
   
            <div class="secondary-table table-wrapper p-4 mt-2">
                <app-grid class="secondary-table" [paginator]="true" (gridRefresh)="gridRefresh()" [doubleClick]="true" [exceleAktar]="false" [rowCount]="true" [textCenter]="false">
                    <ng-template let-rowData="rowData" cellTemplate="cityName">
                        <div>
                            {{rowData.cityName!=null ? rowData.cityName : " "}}
                        </div>
                    </ng-template>
                    <ng-template let-rowData="rowData" cellTemplate="districtName">
                        <div>
                            {{rowData.districtName!=null ? rowData.districtName : " "}}
                        </div>
                    </ng-template>
                    <ng-template let-rowData="rowData" cellTemplate="institutionName">
                        <div>
                            {{rowData.institutionName!=null ? rowData.institutionName : " "}}
                        </div>
                    </ng-template>
                    <ng-template let-rowData="rowData" cellTemplate="isActive">
                        <div class="d-flex align-items-center" style="color: #4AA785;" *ngIf="rowData.isActive">
                            <img style="margin-right: 5px;" src="../../../../assets/img/green-dot.png" alt="">
                            Aktif
                        </div>
                        <div style="color: #FF6966;" class="d-flex align-items-center" *ngIf="!rowData.isActive">
                            <img style="margin-right: 5px;" src="../../../../assets/img/red-dot.png" alt="">
                            Pasif
                        </div>
                    </ng-template>
                    <ng-template let-rowData="rowData" cellTemplate="islemler">
                        <p-splitButton label="İşlemler" [model]="this.items" (onDropdownClick)="rowSelect(rowData)" styleClass="p-button-sm mr-2 mb-2"></p-splitButton>
                    </ng-template>
                </app-grid>
            </div>


    </div>





</p-dialog>