<div class="position-relative book-detail">
  <div class="blue-area">
  </div>
  <div class="container" style="padding-top:70px ;">
    <div class="row gy-5 justify-content-center">


      <div class="col-lg-8 d-lg-none d-block">
        <div class="row">
          <div style="color:white" class="detail-header">
            <h4 class="mb-4">Sağlık İstatistikleri Yıllığı</h4>
            <p><span>#Kitap</span> | Yayımlayan : <span>Sağlık Hizmetleri Genel Müdürlüğü</span></p>
            <p> <i class="pi pi-flag"></i> Dil : <span>İngilizce</span> &nbsp;&nbsp;|&nbsp;&nbsp; <i
                class="pi pi-calendar-plus"></i> Yıl : <span> Şubat 2021</span> &nbsp;&nbsp;|&nbsp;&nbsp; <i
                class="pi pi-file-pdf"></i> Boyut : <span> 104.76 KB</span>&nbsp;&nbsp; |&nbsp;&nbsp;<i
                class="pi pi-book"></i> Sayfa : <span>13</span></p>
          </div>
          <div class="desc" style="color:black;margin-top: 100px;">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.

            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem
            Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable
            source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes
            of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular
            during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in
            section 1.10.32.
            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections
            1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
            original form, accompanied by English versions from the 1914 translation by H. Rackham.

            <div class="mt-3">
              <h5>Anahtar Kelimeler</h5>
              <div class="d-flex gap-2">
                <span class="keywords">Sağlık</span>
                <span class="keywords">İstatistik</span>
                <span class="keywords">Sağlık Hizmeti</span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-4 text-center">
        <div class="row justify-content-center gy-3 gx-2">
          <img class="detail-img" src="assets/img/book.png" alt="">
          <button pButton pRipple label="İndir (104.76 KB)" class="download"></button>
          <button pButton pRipple label="Görüş Bildir" class="nowus"></button>
        </div>
      </div>

      <div class="col-lg-8 d-lg-block d-none">
        <div class="row">
          <div style="color:white" class="detail-header">
            <h4 class="mb-4">Sağlık İstatistikleri Yıllığı</h4>
            <p><span>#Kitap</span> | Yayımlayan : <span>Sağlık Hizmetleri Genel Müdürlüğü</span></p>
            <p> <i class="pi pi-flag"></i> Dil : <span>İngilizce</span> &nbsp;&nbsp;|&nbsp;&nbsp; <i
                class="pi pi-calendar-plus"></i> Yıl : <span> Şubat 2021</span> &nbsp;&nbsp;|&nbsp;&nbsp; <i
                class="pi pi-file-pdf"></i> Boyut : <span> 104.76 KB</span>&nbsp;&nbsp; |&nbsp;&nbsp;<i
                class="pi pi-book"></i> Sayfa : <span>13</span></p>
          </div>
          <div class="desc" style="color:black;margin-top: 100px;">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.

            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem
            Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable
            source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes
            of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular
            during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in
            section 1.10.32.
            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections
            1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
            original form, accompanied by English versions from the 1914 translation by H. Rackham.

            <div class="mt-3">
              <h5>Anahtar Kelimeler</h5>
              <div class="d-flex gap-2">
                <span class="keywords">Sağlık</span>
                <span class="keywords">İstatistik</span>
                <span class="keywords">Sağlık Hizmeti</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="history mt-4 mb-5 p-5" style="background-color: white">
    <div class="mb-5 position-relative">
      <div class="arrow-wrapper arrow-1" (click)="scrollLeft()">
        <img src="assets/img/left-arrow.png" class="arrow" style="margin-right:2px;" alt="">
      </div>
      <div class="arrow-wrapper arrow-2" (click)="scrollRight()">
        <img src="assets/img/right-arrow.png" class="arrow" style="margin-left:2px;" alt="">
      </div>
      <div class="row  gy-5 flex-xl-nowrap outer_container" style="overflow: auto;  flex-wrap: nowrap;">

        <div class=" " *ngFor="let item of model;let i = index"
          style="margin-bottom: 10px;height: 316px;width:224px;border-radius: 16px;  ">
          <div class="book-image"
            style="height: 100%;width:100%;border-radius: 16px;box-shadow: 0px 2px 49px -17px rgba(0,0,0,0.75);"
            [ngStyle]="{'background': ' url(book.png) no-repeat -8px 0'}"></div>
        </div>

      </div>
    </div>
    <hr>
  </div>

</div>