

<div class="container main-content" >
    <div class="row">
        <div class="col-lg-4">
            <div class="field contact">
                <div class="position-relative ">
                    <label  class="mb-3" style="font-weight: 600;" >Başlık</label>
                    <div class="p-inputgroup">
                        <input pInputText type="text" class="p-inputtext p-component p-element" placeholder="Yazınız" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="field contact">
                <div class="position-relative ">
                    <label  class="mb-3" style="font-weight: 600;" >Eseri Yayınlayan Kişi</label>
                    <div class="p-inputgroup">
                        <input pInputText type="text" class="p-inputtext p-component p-element" placeholder="Yazınız" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="field contact">
                <div class="position-relative ">
                    <label  class="mb-3" style="font-weight: 600;" >Dil</label>
                    <div class="p-inputgroup">
                        <input pInputText type="text" class="p-inputtext p-component p-element" placeholder="Seçiniz" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="field contact">
                <div class="position-relative ">
                    <label  class="mb-3" style="font-weight: 600;" >Yayın İçeriğine Dair Tag</label>
                    <div class="p-inputgroup">
                        <input pInputText type="text" class="p-inputtext p-component p-element" placeholder="Yazınız" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="field contact">
                <div class="position-relative ">
                    <label  class="mb-3" style="font-weight: 600;" >Tarih</label>
                    <div class="p-inputgroup">
                        <input pInputText type="text" class="p-inputtext p-component p-element" placeholder="Yazınız" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="field contact">
                <div class="position-relative ">
                    <label  class="mb-3" style="font-weight: 600;" >Sayfa Sayısı</label>
                    <div class="p-inputgroup">
                        <input pInputText type="text" class="p-inputtext p-component p-element" placeholder="Parola" />
                    </div>
                </div>
            </div>
        </div>
        <div class="" style="min-height:250px ;">
            <div class="field contact">
                <div class="position-relative ">
                    <label  class="mb-3" style="font-weight: 600;" >Özet Bilgisi</label>
                    <div class="p-inputgroup">
                        <textarea pInputText type="text"  style="min-height:200px ;" class="p-inputtext p-component p-element" placeholder="Yazınız" ></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-lg-end" style="justify-content: center;">
            <button  type="submit"  
            class="p-element p-ripple  p-button p-component" style="width: 330px;" disabled>Gönder</button>
        </div>
    </div>
</div>