
    <div class="header" id="sticky-panel">
        <div style="padding:5px 30px;color: black;justify-content: center;align-items: center; "  class=" row justify-content-lg-between">
            <div class="col-md-6 d-flex justify-content-md-start" style="justify-content: center;">
            <div class="layout-topbar-left ">
            

                <div class=" d-flex">
                    <img src="assets/img/black-logo.png" style="width:50px" alt="">
                    <div  class="d-sm-block d-none ml-3">
                        <h4 style="margin-bottom:0;font-weight:bold">T.C. SAĞLIK BAKANLIĞI</h4>
                        <strong style="font-size:12px">SAĞLIK BİLGİ SİSTEMLERİ GENEL MÜDÜRLÜĞÜ</strong>
                    </div>
                </div>
            </div>     
        </div>
          
            <div class="col-md-6 d-flex justify-content-md-end " style="justify-content: center;">
            <div class="layout-topbar-main-right fadeInDown ">
                <ul class="right-menu navbar navbar-expand-lg ">
                    <li><a class="dropdown-item" href="#">Tüm yayınlar</a></li>
                    <li><a class="dropdown-item" href="#">Kitaplar</a></li>
                    <li><a class="dropdown-item" href="#"> Dergiler</a></li>
                    <li><a class="dropdown-item" href="#">Makeleler</a></li>
                    <li><a class="dropdown-item" href="#">İletişim</a></li>
                </ul>


            </div>
        </div>
        </div>
    
    </div>



<div class="content">
<router-outlet></router-outlet>
</div>
<app-footer style="z-index:3" class="mt-2"></app-footer>