<div class="under-header d-flex justify-content-center">
    <h5 class="mt-3" style="color: white;">Kullanıcı Ekle</h5>

</div>
<div class="container main-content">
    <form [formGroup]="userForm">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="field contact">
                    <div class="position-relative ">
                        <label class="mb-3" style="font-weight: 600;">TC Kimlik No</label>
                        <div class="p-inputgroup">
                            <input pInputText type="text" formControlName="identityNo" class="p-inputtext p-component p-element" placeholder="Yazınız" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="field contact">
                    <div class="position-relative ">
                        <label class="mb-3" style="font-weight: 600;">Ad</label>
                        <div class="p-inputgroup">
                            <input pInputText type="text" formControlName="name" class="p-inputtext p-component p-element" placeholder="Yazınız" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="field contact">
                    <div class="position-relative ">
                        <label class="mb-3" style="font-weight: 600;">Soyad</label>
                        <div class="p-inputgroup">
                            <input pInputText type="text" formControlName="surname" class="p-inputtext p-component p-element" placeholder="Yazınız" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="field contact">
                    <div class="position-relative ">
                        <label class="mb-3" style="font-weight: 600;">Eposta</label>
                        <div class="p-inputgroup">
                            <input pInputText type="text" formControlName="email" class="p-inputtext p-component p-element" placeholder="Seçiniz" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="field contact">
                    <div class="position-relative ">
                        <label class="mb-3" style="font-weight: 600;">Telefon</label>
                        <div class="p-inputgroup">
                            <input pInputText type="text" formControlName="phoneNo" class="p-inputtext p-component p-element" placeholder="Yazınız" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="field contact">
                    <div class="position-relative ">
                        <label class="mb-3" style="font-weight: 600;">Çalıştığı Birim</label>
                        <div class="p-inputgroup">
                            <p-dropdown [options]="unitList" (onChange)="onChangeUnitOfWork($event)" formControlName="unitOfWorkId" class="full-width" placeholder="Lütfen Seçiniz"></p-dropdown>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="field contact">

                    <label class="mb-3" style="font-weight: 600;" for="identityNo">Kullanıcı Türü</label>
                    <p-dropdown [options]="userType" formControlName="userType" class="full-width" placeholder="Lütfen Seçiniz"></p-dropdown>
                </div>
            </div>

            <div class="col-lg-4 col-md-6"></div>
            <div class="col-lg-4 col-md-6"></div>
            <div class="col-lg-4 col-md-6">
                <button pButton pRipple type="submit" (click)="saveUser()" label="Kullanıcıyı Oluştur" class="p-mr-2 p-mb-2 black-button"></button>

            </div>

        </div>
    </form>
</div>